.header {
  display: flex;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.userMenu {
  display: flex;
  margin-left: 370px;
}
