.header {
  display: flex;

  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.userMenu {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 25px;
}

.title {
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 30px;
}

.nameAppContainer {
  background-color: orange;
  border: 1px solid orange;
  border-radius: 15px;
  height: 40px;
}
