.navList {
  display: flex;
  align-items: center;
  width: 200px;
  padding-left: 25px;
}

.navItem {
  list-style-type: none;
  font-weight: 800;
  color: black;
}

.navItem:not(:last-child) {
  margin-right: 20px;
}
