.form {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;

  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.label__name {
  font-family: Comic Sans MS, Comic Sans, cursive;
}

.input {
  padding-left: 10px;
  width: 250px;
  height: 35px;
  border-radius: 10px;

  border: 1px solid rgb(200, 199, 199);
}

.input:focus {
  outline-color: rgb(55, 55, 240);
}

.button {
  background-color: rgb(17, 135, 231);
  border: 1px solid rgb(17, 135, 231);

  color: white;
  width: 200px;
  height: 39px;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-image: linear-gradient(
    rgba(157, 157, 236, 0.4),
    rgba(47, 48, 58, 0.4)
  );
}

.button__text {
  font-family: Comic Sans MS, Comic Sans, cursive;
}
